name: Test Yolk

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Local Image
        run: docker build -t local-yolk .

      - name: Test - System Info & Identity
        run: |
          docker run --rm \
            -e STARTUP="sudo apt update && sudo apt install -y neofetch && neofetch && whoami && id && " \
            local-yolk

      - name: Test - Node.js & NPM
        run: |
          docker run --rm \
            -e STARTUP="node -v && npm -v" \
            local-yolk

      - name: Test - Python & Pip
        run: |
          docker run --rm \
            -e STARTUP="python3 --version && pip3 --version" \
            local-yolk

      - name: Test - FFmpeg
        run: |
          docker run --rm \
            -e STARTUP="ffmpeg -version | head -n 1" \
            local-yolk
